.header-container {
  display: flex;
  height: 120px;
  border: 1px solid grey;
  width: 100vw; 
  align-items: center; 
}
.header-container:hover{
  border: 1px solid #e67e22 ;
}

.image-container {
  margin-right: 20px; 
}

.logo {
  width: 100px;
}

.nav-container {
  display: flex;
  flex-direction:row;
  
  align-items: center; 
  flex-grow: 1;
  justify-content: space-around; 
}

.nav-items {
  display: flex;
  align-items: center; 
}

.logo-image {
  width: 30px; 
  margin-right: 10px; 
}

.logo-text {
  font-size: 19px; 
  color:#2c3e50;
}
.logo-text:hover{
  color:#e74c3c;
}
.card-container{
  
}
.restaurant-cards{
  background-color: rgb(247, 248, 248);
  width:230px;
  height:345px;
}
.restaurant-image{
  width:219px;
  height:170px;
  margin-left:5px;
  margin-top:3px;
  border-radius:8px;
}