
.header-container {
  display: flex;
  height: 120px;
  border-top: 2px solid #f2f4f4 ; 
  box-shadow: 0 -4px 6px -2px #f2f4f4 ; 
  width: 100vw; 
  align-items: center; 
}


.image-container {
  margin-right: 20px; 
}

.logo {
  width: 120px;
}

.nav-container {
  display: flex;
  flex-direction:row;
  
  align-items: center; 
  flex-grow: 1;
  justify-content: space-around; 
}
.nav-icon{
  height:27px;
}

.nav-items {
  display: flex;
  align-items: center; 
}
.nav-icon-about-us{
  height:27px;
}
.icon-text{
  padding-top:7px;
  padding-left:5px;
}

.logo-image {
  width: 30px; 
  margin-right: 10px; 
}

.logo-text {
  font-size: 19px; 
  color:#2c3e50;
}
.logo-text:hover{
  color:#e74c3c;
}
.card-container{
  margin-left:12px;
  display:flex;
  flex-wrap:wrap;
  margin-bottom:8px;
  
  }

.card-text{
  padding-left:10px;
}
.restaurant-cards{
  background-color: rgb(247, 248, 248);
  width:230px;
  
  margin-left:8px;
  margin-bottom:10px;
}
.restaurant-image{
  width:219px;
  height:195px;
  margin-left:5px;
  margin-top:3px;
  border-radius:8px;
}
.header-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    margin-bottom:15px;
}

.logo-Image{
    width:120px;
    height:120px;
    margin-top:0px;
    
}

.nav-icon{
    width:25px;
    height:25px;
    margin-top:10px;
    margin-right:5px;
}
.nav-icon-offer{
    width:45px;
    height:45px;
}

.nav-items{
    margin-right:5px;
   margin-top:22px;
   display:flex;
}

.restro-card{

    width:210px;
    padding:5px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
    margin-top:10px;
    margin-right:10px;
}
    

.restro-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
    
}
.restro-card:hover{
    cursor: pointer;
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.5);
    
}
.search{
    padding-top:15px;

}

.restro-image{
    width:100%;
    height:170px;
    
}

.Shimmer-container{
    display:flex;
    flex-wrap:wrap;
}
.shimmer-cards{
    width:210px;
    height:350px;
    margin:20px;
    background-color:rgb(244, 244, 238);
}

.login button{
    width:40px;
    height:30px;
    margin-top:20px;
    padding-top:20px;
    margin-left:5px;
}
.nav-icon-login{
  height:28px;
}

.filter{
  display:flex;
  
  
}
.filter-btn{
  height:22px;
  margin-left:8px;
  
}

  

